<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="somea" class="salve.spring.model.A" />

	<bean id="b" class="salve.spring.model.B" />

	<bean class="salve.spring.model.C" />

	<bean id="d1" class="salve.spring.model.D" />
	<bean id="d2" class="salve.spring.model.D" />

</beans>